@import "color";
footer{
    width: 100%;
    height: 200px;
    background-color: $first;
    color:$dark;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding:1rem;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        >h1{
            font:700 2rem $text1;
            text-transform: uppercase;
            color:$second;
        }
        >p{
            font:500 1.2rem $text1;
        }
        >h5{
            font: 300 2rem $text2;
            margin : 1rem 0;
            align-items:center;
        }
        >div{
            display: flex;
            flex-direction: column;
            
            a{
              color:$dark;
              font: 900 1rem $text2;
              &:hover{
                color:$second;
              }
            }

        }
        
        
    }
    
}
