@import "color";

nav{
    width: 100%;
    display:flex;
    padding:1rem;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    background-color: $first;
    top: 0%;
    z-index: 10;

    >h1{
        text-transform:none;
    }
    >main{
        widht:70%;
        display:flex;
        justify-content: flex-end;
        
        >a{
            margin:1rem;
            color:$dark;


            &:hover{
                color: red;
            }
        }
    }

}